*
!Makefile
!exercise1
!exercise1/Makefile
!exercise1/solution1.txt
!exercise1/README.md
!exercise1/test.py
!exercise1/main.c
!README.md
!.gitignore
!exercise4
!exercise4/Makefile
!exercise4/shell.asm
!exercise4/solution4.py
!exercise4/README.md
!exercise4/test.py
!exercise4/main.c
!exercise3
!exercise3/Makefile
!exercise3/solution3.py
!exercise3/README.md
!exercise3/test.py
!exercise3/main.c
!exercise2
!exercise2/Makefile
!exercise2/README.md
!exercise2/solution2.txt
!exercise2/test.py
!exercise2/main.c
!tutorial
!tutorial/Makefile
!tutorial/pwd.txt
!tutorial/main.c
